<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaDatos.Properties.Settings.db_adopcionesConnectionString"
            connectionString="Data Source=LAPTOP-JNKRGTMA;Initial Catalog=db_adopciones;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>